body {
    background-image: url(../Imgs/bgtop.png), linear-gradient(180deg, #000, #c99a63);
    background-position: left top;
}

.main {
    height: 1900px;
    width: 500px;
    text-align: center;
    color: #fff;
}

.myatinydatabase {
    position: absolute;
    top: 55px;
    left: 25%;
    font-size: 2em;
    font-weight: bold;
    font-family: MuseoModerno;
}

.logo {
    position: absolute;
    top: 48px;
    left: 12%;
    width: 10%;
}

.text-container {
    position: absolute;
    top: 320px;
    left: 10%;
    font-size: 20px;
    line-height: 166%;
    display: flex;
    align-items: center;
    width: 400px;
    height: 214px;
    color: #000;
}

.tittle-container {
    position: absolute;
    top: 200px;
    left: 10%;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    width: 400px;
    height: 117px;
    color: #fff;
}

.you {
    color:#D87400;
}

.text1 {
    width: 400px;
    height: 117px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.sign-form, .get-started, .button1, .signup1, .signup2, .already-registered, .loginlink {
    display: none;
}

.button {
    position: absolute;
    top: 630px;
    left: 20%;
    border-radius: 8px;
    background-color: #000;
    align-items: center;
    padding: 28px 48px;
    color: #fff;
}

.button-su {
    display: inline;
    position: absolute;
    top: 630px;
    left: 55%;
    border-radius: 8px;
    background-color: #000;
    align-items: center;
    padding: 28px 40px;
    color: #fff;
}

.button:hover {
    background-color: #c99a63;
    color: #fff;
}

.button-su:hover {
    background-color: #c99a63;
    color: #fff;
}

.t1 {
    color: #fff;
    position: absolute;
    top: 730px;
    left: 10%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: MuseoModerno;
    width: 400px;
    height: 117px;
}

.t2 {
    color: #fff;
    position: absolute;
    top: 1150px;
    left: 15%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: MuseoModerno;
    width: 400px;
    height: 117px;
}


.text2 {
    position: absolute;
    top: 850px;
    left: 10%;
    font-size: 15px;
    line-height: 150%;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 400px;
    font-weight: bold;
}

.text3 {
    position: absolute;
    top: 1280px;
    left: 10%;
    font-size: 15px;
    line-height: 150%;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 400px;
    font-weight: bold;
}

.cs-bg{
    position: absolute;
    top: 1240px;
    left: 40%;
    border-radius: 20px;
    background-color: #d87400;
    width: 119px;
    height: 25px;
}
.coming-soon {
    position: absolute;
    top: 1242px;
    left: 43%;
    font-size: 13px;
    line-height: 150%;
    font-weight: bold;
    color: #fff;
}

.ca-bg {
    position: absolute;
    top: 1690px;
    left: 12%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #d87400;
    width: 376px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
}

.ca-bg:hover {
    background-color: #c99a63;
    color: #fff;
}

.t3 {
    color: #fff;
    position: absolute;
    top: 1620px;
    left: 10%;
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    font-family: MuseoModerno;
}

.create {
    color: white;
    font-weight: bold;
}

.createlink{
    color: #fff;
    text-decoration: none;
}

.buttons-icon {
    position: absolute;
    top: 1800px;
    left: 75%;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.buttons-icon1 {
    position: absolute;
    top: 1800px;
    left: 85%;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.all-rights-reserved {
    position: absolute;
    top: 1810px;
    left: 10%;
    color: #fff;
    font-weight: bold;
}